.page-wrap {
    background-color: #ffffff;
}
.payment-tips {
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    text-align: center;
    margin-bottom: 6px;
}

.orderNum {
    color: #c60023;
    font-weight: bold;
}

.img-con {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    
}

.img-con .qr-code {
    width: 100%;
    height: 100%;
}