<!--
 * @Author: zhimin
 * @Date: 2020-12-18 13:50:17
 * @LastEditors: zhimin
 * @LastEditTime: 2020-12-18 14:41:14
 * @FilePath: \happy-fe\src\view\order-detail.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%= require("html-loader!./layout/head-common.html") %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <%= require("html-loader!./layout/nav.html") %>
    <%= require("html-loader!./layout/header.html") %>
    <div class="crumb">
        <div class="w">
            <a href="./index.html" class="link">MMall</a>
            <span>></span>
            <span class="link-text"><%= htmlWebpackPlugin.options.title %></span>
        </div>
    </div>
    <div class="page-wrap w">
        <%= require("html-loader!./layout/nav-side.html") %>
        <div class="content with-nav">

        </div>
    </div>
    <%= require("html-loader!./layout/footer.html") %>
</body>

</html>