<!--
 * @Author: zhimin
 * @Date: 2020-12-06 14:16:06
 * @LastEditors: zhimin
 * @LastEditTime: 2020-12-06 15:38:38
 * @FilePath: \happy-fe\src\view\pass-update.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%= require("html-loader!./layout/head-common.html") %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <%= require("html-loader!./layout/nav.html") %>
    <%= require("html-loader!./layout/header.html") %>
    <div class="crumb">
        <div class="w">
            <a href="./index.html" class="link">MMall</a>
            <span>></span>
            <span class="link-text"><%= htmlWebpackPlugin.options.title %></span>
        </div>
    </div>
    <div class="page-wrap w">
        <%= require("html-loader!./layout/nav-side.html") %>
        <div class="content with-nav">
            <div class="panel">
                <div class="panel-title">修改密码</div>
                <div class="panel-body">
                    <div class="user-info">
                        <div class="form-line">
                            <span class="label">原密码：</span>
                            <input type="password" class="input" id="password" autocomplete="off" />
                        </div>
                        <div class="form-line">
                            <span class="label">新密码：</span>
                            <input type="password" class="input" id="new-password" autocomplete="off" />
                        </div>
                        <div class="form-line">
                            <span class="label">确认密码：</span>
                            <input type="password" class="input" id="confirm-password" autocomplete="off" />
                        </div>
                        <a class="btn btn-submit">提交</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require("html-loader!./layout/footer.html") %>
</body>

</html>