/* 通用头部导航 */
.header .logo {
    display: block;
    width: 150px;
    position: absolute;
    left: 60px;
    top: 34px;
    font-size: 36px;
    font-weight: bold;
    color: #c60023;
    text-align: center;
}

.header .search-con {
    padding: 40px 0px 30px 250px;
}

.header .search-con .search-input {
    box-sizing: border-box;
    width: 550px;
    height: 42px;
    line-height: 42px;
    padding: 10px;
    border: 2px solid #c60023;
    font-size: 15px;
}

.header .search-con .search-btn {
    display: inline-block;
    width: 80px;
    height: 42px;
    line-height: 42px;
    margin-left: -5px;
    background-color: #c60023;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}