<!--
 * @Author: zhimin
 * @Date: 2020-12-01 16:54:28
 * @LastEditors: zhimin
 * @LastEditTime: 2020-12-02 14:24:07
 * @FilePath: \happy-fe\src\view\layout\footer.html
-->
<div class="footer">
    <div class="w">
        <div class="links">
            <a href="www.baidu.com" class="link" target="_blank">百度</a>
            <a href="www.taobao.com" class="link" target="_blank">淘宝</a>
            <a href="www.zhihu.com" class="link" target="_blank">知乎</a>
            <a href="www.baidu.com" class="link" target="_blank">马蜂窝</a>
        </div>
        <p class="copyright">
            Copyright ©2019-2020 www.baidu.com
        </p>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>