/*
 * @Author: zhimin
 * @Date: 2020-12-01 16:46:31
 * @LastEditors: zhimin
 * @LastEditTime: 2020-12-02 14:35:55
 * @FilePath: \happy-fe\src\page\common\layout.css
 */
/* css reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6;
    font: 12px/1.5 tahoma, arial, Microsoft Yahei, sans-serif;
}

li {
    list-style: none;
}

img {
    display: block;
}

label {
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

input[type='checkbox'] {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* 定宽布局 */
.w {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.large .w {
    width: 1600px;
}

.panel {
    padding: 10px;
    background-color: #ffffff;
}
.panel .panel-title{
    padding: 10px;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
}
.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}
/* 全局通用样式 */
/* 隐藏 */
.hide {
    display: none;
}

/* 超链接样式 */
.link {
    color: #999999;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: #e80012;
}

.link-text {
    color: #999999;
    text-decoration: none;
}

/* btn */
.btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    background-color: #c60023;
    cursor: pointer;
    text-decoration: none;
}

.btn-mini {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-size: 12px;
}

/* loading */
.loading {
    display: block;
    width: 65px;
    height: 65px;
    margin: 10px auto;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background: url(../../image/icon/loading.gif);
    opacity: .6;
}